@media screen and (min-width:428px) {
    .container {
        width: 426px;
    }

    .mob-tel-link {
        font-size: 36px;
    }

    .mob-soc-list {
        gap: 56px;
    }

    .modal {
        width: 392px;
    }
}

/* -----------------------------TAB----------------------------- */
@media screen and (min-width:768px) {
    .header {
        padding: 16px 0;
    }

    .menu-btn,
    .mob-menu {
        display: none;
    }

    .nav-list {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        margin-left: 76px;
        gap: 40px;
    }

    .nav-list-item {
        position: relative;
        display: block;
    }

    .nav-link {
        transition-property: color, text-shadow;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--trans-function);
    }

    .nav-link:is(:hover, :focus, :active) {
        color: var(--color-active);
        text-shadow: 0 0 2px var(--color-active);
    }

    .nav-link::after {
        content: '';
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        top: 45px;
        background-color: var(--color-active);
        border-radius: 2px;
        transition-property: opacity, box-shadow;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--trans-function);
        opacity: 0;
        pointer-events: none;
    }

    .nav-link:is(:hover, :focus, :active)::after {
        opacity: 1;
        box-shadow: 0 0 2px var(--color-active);
    }

    .active {
        color: var(--color-active);
    }

    .active::before {
        content: '';
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        top: 45px;
        background-color: var(--color-active);
        border-radius: 2px;
        pointer-events: none;
    }

    .address {
        display: block;
        font-style: normal;
        margin-left: auto;
    }

    .address-item {
        color: var(--color-text);
        transition: transform var(--animation-time) var(--trans-function);
    }

    .address-item:hover,
    .address-item:focus {
        color: var(--color-active);
        transform: scale(1.2);
    }

    .slider {
        background-image: var(--bg-title), url(../images/bg-slider-tab@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .slider {
            background-image: var(--bg-title), url(../images/bg-slider-tab@2x.jpg);
        }
    }

    .advantage-item:not(:last-child) {
        margin-bottom: 0;
    }

    .footer-logo,
    .social-title,
    .footer-label-subscribe {
        text-align: start;
    }

    .modal {
        width: 408px;
        padding: 24px;
    }

    .modal-close {
        margin-right: 0;
    }

    .portfolio {
        padding: 64px 0 96px;
    }

    .portfolio-nav {
        margin-bottom: 64px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: var(--gap-photo);
    }

    .portfolio-nav-item {
        margin-right: unset;
    }

    .portfolio-nav-btn {
        padding: 12px 24px;
        height: 48px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--gap-photo) * 3) var(--gap-photo);
    }

    .portfolio-item {
        width: calc((100% - var(--gap-photo)) / 2);
    }
}

/* -----------------------------TAB limited----------------------------- */
@media screen and (min-width:768px) and (max-width:1157px) {
    .container {
        width: 766px;
    }

    .team>.container,
    .costumers>.container {
        padding-left: 107px;
        padding-right: 107px;
    }


    .address-item {
        font-size: 12px;
        line-height: 1.166666;
        letter-spacing: 0.04rem;
        display: block;
    }

    .address-list-item:first-child {
        margin-bottom: 12px;
    }

    .slider-title {
        width: 496px;
        max-width: unset;
        font-size: 56px;
        line-height: 1.07;
    }

    .slider-btn {
        margin: 52px auto 0;
    }

    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--gap-photo) * 3) var(--gap-photo);
    }

    .advantage-item {
        width: calc((100% - var(--gap-photo)) / 2);
    }

    .advantage-item-title {
        text-align: start;
    }

    .team-list {
        gap: 64px var(--gap-photo);
    }

    .team-item {
        width: 264px;
    }

    .costumers-list {
        gap: 62px var(--gap-photo);
    }

    .footer>.container {
        padding-right: 163px;
        padding-left: 107px;
    }

    .footer-items {
        gap: calc(var(--gap-photo) * 3) var(--gap-photo);
        justify-content: unset;
    }

    .footer-subscribe-wrap {
        flex-wrap: nowrap;
        gap: var(--gap-photo);
    }

    .footer-subscribe-input {
        width: 264px;
    }
}

/* -----------------------------DESKTOP----------------------------- */
@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    }

    .header {
        padding: 24px 0;
    }

    .address-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .address-item {
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .slider {
        background-image: var(--bg-title), url(../images/bg-slider@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .slider {
            background-image: var(--bg-title), url(../images/bg-slider@2x.jpg);
        }
    }

    .slider {
        padding: 188px 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
    }

    .slider-title {
        width: 496px;
        max-width: unset;
        font-size: 56px;
        line-height: 1.07;
    }

    .slider-btn {
        margin: 48px auto 0;
    }

    .advantage {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantage-icon {
        display: flex;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-team);
        border-radius: 4px;
    }

    .advantage-item-icon {
        width: 64px;
        height: 64px;
    }

    .advantage-list {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--gap-photo);
    }

    .advantage-item {
        width: 264px;
    }

    .advantage-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: start;
    }

    .advantage-text {
        font-weight: 400;
        font-size: 16px;
    }

    .doing {
        display: block;
        padding-bottom: 120px;
    }

    .doing-title {
        margin-bottom: 72px;
    }

    .doing-list {
        display: flex;
        gap: var(--gap-photo);
    }

    .doing-item {
        border: 1px solid var(--color-border);
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: var(--bg-team);
    }

    .team-list {
        gap: var(--gap-photo);
    }

    .team-item {
        width: calc((100% - 3 * var(--gap-photo)) / 4);
    }

    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .costumers-list {
        gap: var(--gap-photo);
    }

    .footer-items {
        flex-wrap: nowrap;
        gap: unset;
        justify-content: unset;
    }

    .footer-left-column {
        margin-right: 120px;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-subscribe-wrap {
        gap: var(--gap-photo);
    }

    .footer-subscribe-input {
        width: 264px;
        opacity: 1;
    }

    .footer-social {
        margin-right: 80px;
    }

    .modal {
        width: 408px;
    }

    .modal-label-comment {
        margin-bottom: 16px;
    }

    .portfolio {
        padding: 100px 0 120px;
    }

    .portfolio-nav {
        margin-bottom: 72px;
    }

    .portfolio-list {
        gap: calc(var(--gap-photo) * 2) var(--gap-photo);
    }

    .portfolio-item {
        width: calc((100% - 2 * var(--gap-photo)) / 3);
    }

    .portfolio-description {
        border: 1px solid var(--color-border);
        border-top: none;
    }

}