:root {
  --color-title: #2e2f42;
  --color-logo: #4d5ae5;
  --color-title-contrast: #ffffff;
  --color-active: #404bbf;
  --color-success: #404bbf;
  --color-text: #434455;
  --color-text-footer: #d9d9d9;
  --color-border-header: #d9d9d9;
  --color-text-btn: #4d5ae5;
  --color-logo-ft: #f4f4fd;
  --color-border: #E7E9FC;
  --color-icon: #8E8F99;
  --color-modal: #8E8F99;
  --bg-team: #f4f4fd;
  --bg-btn-hero: #4d5ae5;
  --bg-btn-pf: #f4f4fd;
  --bg-btn-active: #404bbf;
  --bg-footer: #2e2f42;
  --bg-title: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --gap-photo: 24px;
  --trans-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--color-title);
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------------HEADER------------------ */
.header {
  border-bottom: 1px solid var(--color-border-header);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  display: inline-block;
  position: relative;
  transition: transform var(--animation-time) var(--trans-function);
}

.logo-part {
  color: var(--color-title);
}

.logo:is(:hover, :focus, :active) {
  transform: scale(1.2);
  transform-origin: center;
}

.nav-list {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.nav-list-item {
  position: relative;
  display: block;
}

.nav-link {
  transition-property: color, text-shadow;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.nav-link:is(:hover, :focus, :active) {
  color: var(--color-active);
  text-shadow: 0 0 2px var(--color-active);
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 45px;
  background-color: var(--color-active);
  border-radius: 2px;
  transition-property: opacity, box-shadow;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
  opacity: 0;
  pointer-events: none;
}

.nav-link:is(:hover, :focus, :active)::after {
  opacity: 1;
  box-shadow: 0 0 2px var(--color-active);
}

.active::before {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 45px;
  background-color: var(--color-active);
  border-radius: 2px;
  pointer-events: none;
}

.address {
  font-style: normal;

}

.address-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.address-list-item>.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.address-item {
  display: block;
  transition: transform var(--animation-time) var(--trans-function);
}

.address-item:hover,
.address-item:focus {
  color: var(--color-active);
  transform: scale(1.2);
}

/* ----------------SLIDER------------------ */
.slider {
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-image: var(--bg-title), url(../images/bg-people-office.jpg);
  background-size: cover;
  background-position: center;
}

.slider-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-title-contrast);
}

.slider-btn {
  display: block;
  min-width: 169px;
  margin: 47px auto 0;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--bg-btn-hero);
  color: var(--color-title-contrast);
  border-radius: 4px;
  border: none;
  transition-property: background-color, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.slider-btn:is(:hover, :focus) {
  background-color: var(--bg-btn-active);
}

.slider-btn:active {
  transform: translateY(5px);
}

/* ----------------OUR ADVANTAGES------------------ */
.advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-icon {
  display: flex;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-team);
  border-radius: 4px;
}

.advantage-item-icon {
  width: 64px;
  height: 64px;
}

.advantage-list {
  display: flex;
  gap: var(--gap-photo);
}

.advantage-item {
  width: 264px;
}

.advantage-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* ----------------WE DOING------------------ */
.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  gap: var(--gap-photo);
}

.doing-item {
  border: 1px solid var(--color-border);
}

/* ----------------OUR TEAM------------------ */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--bg-team);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: var(--gap-photo);
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: var(--color-title-contrast);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding: 32px 16px;
}

.team-item-title,
.team-item-text {
  margin-bottom: 8px;
  text-align: center;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: var(--gap-photo);
}

.social-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-btn-hero);
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.social-icon-link:is(:hover, :focus, :active) {
  background-color: var(--color-active);
  transform: scale(1.05) rotate(360deg);
}

.social-icon-item {
  width: 16px;
  height: 16px;
}

/* ----------------Costumers--------------- */
.costumers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.costumers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.costumers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-photo);
}

.costumer-link {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition-property: color, border, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.costumer-link:is(:hover, :focus, :active) {
  color: var(--bg-btn-hero);
  border: 1px solid var(--bg-btn-hero);
  transform: scale(1.05);
}

.costumer-item-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* ----------------FOOTER------------------ */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-footer);
}

.footer-items {
  display: flex;
}

.footer .logo-part {
  color: var(--color-logo-ft);
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-footer);
  margin-top: 16px;
}

.footer-left-column {
  display: block;
  margin-right: 120px;
}

.social-title,
.footer-label-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-title-contrast);
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-btn-hero);
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.footer-link:is(:hover, :focus, :active) {
  background-color: #31D0AA;
  transform: scale(1.05) rotate(360deg);
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-subscribe {
  display: block;
  margin-left: auto;
}

.footer-subscribe-wrap {
  display: flex;
}

.footer-label-subscribe {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  display: block;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  margin-right: 24px;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-btn {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #FFFFFF;
  background-color: #4D5AE5;
  border-radius: 4px;
  border-color: transparent;
  outline: transparent;
  transition-property: transform, background-color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--bg-btn-active);
}

.footer-subscribe-btn:active {
  transform: translateY(5px);
}

.footer-icon-message {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

/* ----------------PAGE PORTFOLIO------------------ */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-nav {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: var(--gap-photo);
}

.portfolio-nav-btn {
  padding: 12px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-text-btn);
  background-color: var(--bg-btn-pf);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.portfolio-nav-btn:is(:hover, :focus) {
  color: var(--color-title-contrast);
  background-color: var(--bg-btn-active);
  border: 1px solid var(--bg-btn-active);
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav-btn:active {
  transform: translateY(5px);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap-photo) * 2) var(--gap-photo);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  width: calc((100% - 2 * var(--gap-photo)) / 3);
}

.portfolio-item:hover .portfolio-text-appear {
  transform: translateY(0);
}


.portfolio-text-appear {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: var(--bg-btn-hero);
  color: var(--color-logo-ft);
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animation-time) var(--trans-function);
}

.portfolio-item-link.link:is(:hover, :focus, :active) {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.portfolio-item-text {
  margin-top: 8px;
}

/* ---------------Modal--------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0.5turn);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  padding: 24px;
  top: 50%;
  left: 50%;
  background-color: #FCFCFC;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(1turn);
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.modal-close {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: auto;
  background-color: #E7E9FC;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, border, fill;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.modal-close:is(:focus, :hover) {
  background-color: var(--color-active);
  border-color: transparent;
  fill: #FFFFFF;
}

.modal-close-svg {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.modal-label {
  padding-bottom: 4px;
  display: inline-block;
}

.modal-label-wrap {
  margin-bottom: 8px;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02rem;
  line-height: 1.28;
  color: var(--color-title);
  margin-top: 24px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.167;
  text-align: start;
  letter-spacing: 0.01rem;
  color: var(--color-modal);
  display: inline-block;
}

.modal-label-name {
  display: inline-block;
}

.modal-label-name,
.modal-accept {
  font-size: 12px;
  line-height: 1.167;
  text-align: start;
  color: var(--color-modal);
  letter-spacing: 0.04rem
}

.modal-input {
  display: inline-block;
  font-size: 18px;
  width: 100%;
  border: rgba(46, 47, 66, 0.4) solid 1px;
  border-radius: 4px;
  background-color: transparent;
}

.modal-input {
  height: 40px;
  padding-right: 5px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms var(--trans-function);
}

.modal-input-wrap {
  position: relative;
  fill: var(--color-title);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--trans-function);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: var(--bg-btn-hero);
}

.modal-input:focus+.modal-input-icon {
  fill: var(--bg-btn-hero);
}

.modal-label-comment {
  margin-bottom: 16px;
}

.modal-comment {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: rgba(46, 47, 66, 0.4) solid 1px;
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: transparent;
  transition: border-color 250ms var(--trans-function);
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-accept-field {
  margin-bottom: 24px;
}

.modal-accept {
  display: flex;
  align-items: center;
}

.modal-accept::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--animation-time) var(--trans-function);
}

.modal-accept-link {
  display: block;
  margin-left: 0.25rem;
  color: var(--color-text-btn);
}

.modal-checkbox:checked+.modal-accept::before {
  background-color: var(--bg-btn-active);
  border: none;
  background-image: url(../images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: var(--bg-btn-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-property: background-color, box-shadow, transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--trans-function);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--bg-btn-active);
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}